In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import random
from pandas import json_normalize
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
url='https://www.rtfloodbma.com/api/rains';
data_rains=pd.read_json(url,orient='columns')
data_rains

      success                                               data
0        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
1        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
2        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3        True  {'agency': {'agency_name': {'th': 'กรมทรัพยากร...
4        True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
...       ...                                                ...
3209     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3210     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3211     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3212     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3213     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...

[3214 rows x 2 columns]

In [3]:
url='https://www.rtfloodbma.com/api/waters';
data_waters=pd.read_json(url,orient='columns')
data_waters

     success                                               data
0       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
1       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
2       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
3       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
4       True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
..       ...                                                ...
258     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
259     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
260     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
261     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...
262     True  {'agency': {'agency_name': {'th': 'สถาบันสารสน...

[263 rows x 2 columns]

In [4]:
station=pd.DataFrame(data_rains.data.values.tolist())['station']
station
# pd.DataFrame(station).from_records(station)
# pd.json_normalize(station)

0       {'tele_station_name': {'th': 'ทุ่งสง'}, 'id': ...
1       {'tele_station_name': {'th': 'ฝายคลองเปิก'}, '...
2       {'tele_station_name': {'th': 'ไร่ วงศ์ ทอง เมฆ...
3       {'tele_station_name': {'th': 'บ้านไสใหญ่เหนือ'...
4       {'tele_station_name': {'th': 'น้ำตกปลิว'}, 'id...
                              ...
3209    {'tele_station_name': {'th': 'ฝายคลองท่าเลา'},...
3210    {'tele_station_name': {'th': 'รร.บ้านพูน'}, 'i...
3211    {'tele_station_name': {'th': 'ไร่ วงศ์ ทอง เมฆ...
3212    {'tele_station_name': {'th': 'ที่ทำการอุทยานแห...
3213    {'tele_station_name': {'th': 'ฝายคลองเปิก'}, '...
Name: station, Length: 3214, dtype: object

In [5]:
waters = pd.DataFrame(data_waters.data.values.tolist())
pd.DataFrame(waters).from_records(waters).head()

,agency,basin,station,geocode,_id,__v,discharge,flow_rate,id,situation_level,sort_order,station_type,storage_percent,waterlevel_datetime,waterlevel_m,waterlevel_msl,waterlevel_msl_previous
0,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501854701_795,0,None,None,501854701,2,None,tele_waterlevel,12.89,2021-07-08 16:40,None,51.17,51.17
1,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501870786_795,0,None,None,501870786,2,None,tele_waterlevel,12.89,2021-07-08 17:30,None,51.17,51.17
2,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501887481_795,0,None,None,501887481,2,None,tele_waterlevel,12.89,2021-07-08 18:40,None,51.17,51.17
3,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501901943_795,0,None,None,501901943,2,None,tele_waterlevel,12.89,2021-07-08 19:40,None,51.17,51.17
4,{'agency_name': {'th': 'สถาบันสารสนเทศทรัพยากร...,{'basin_name': {'th': 'ลุ่มน้ำภาคใต้ฝั่งตะวันต...,{'tele_station_name': {'en': 'Nakhon Si Thamma...,"{'area_name': {'th': 'ภาคใต้'}, 'amphoe_name':...",501915623_795,0,None,None,501915623,2,None,tele_waterlevel,12.89,2021-07-08 20:40,None,51.17,51.17

In [6]:
rainfall_datetime = pd.DataFrame(data_rains.data.values.tolist())['rainfall_datetime']
rainfall_datetime

0       2021-07-08 16:00
1       2021-07-08 16:00
2       2021-07-08 16:00
3       2021-07-08 16:00
4       2021-07-08 16:00
              ...
3209    2021-07-19 17:00
3210    2021-07-19 17:00
3211    2021-07-19 17:00
3212    2021-07-19 17:00
3213    2021-07-19 17:00
Name: rainfall_datetime, Length: 3214, dtype: object

In [7]:
rain_24h = pd.DataFrame(data_rains.data.values.tolist())['rain_24h']
rain_24h

0       33.8
1       29.4
2       29.2
3       28.5
4       23.2
        ...
3209       0
3210       0
3211       0
3212       0
3213       0
Name: rain_24h, Length: 3214, dtype: object

In [8]:
waterlevel_msl = pd.DataFrame(data_waters.data.values.tolist())['waterlevel_msl']
waterlevel_msl

0      51.17
1      51.17
2      51.17
3      51.17
4      51.17
       ...
258    51.11
259    51.11
260    51.11
261    51.11
262    51.11
Name: waterlevel_msl, Length: 263, dtype: object

In [9]:
y=pd.Series(np.random.randint(0, 100, size=1457),index=list(range(1457 )),dtype='float32')
y

0       46.0
1       21.0
2       32.0
3       81.0
4       95.0
        ...
1452    46.0
1453    86.0
1454    36.0
1455    49.0
1456    67.0
Length: 1457, dtype: float32

In [12]:
dc=pd.concat([pd.DataFrame(json_normalize(station)),pd.Series(rainfall_datetime,name="date"),pd.Series(rain_24h,name="x1"),pd.Series(waterlevel_msl,name="x2"),pd.Series(y,name="y")],axis=1)
# dc

In [14]:
table=dc.drop(columns=['tele_station_oldcode','tele_station_type','tele_station_lat','tele_station_long','sub_basin_id'],axis=1)

In [ ]:
# dc.reset_index().pivot_table(index=['date','x1','x2'],values='y', columns='tele_station_name.th')

In [17]:
final=table.reset_index().pivot_table(index=['date','x1','x2'],columns='tele_station_name.th')

In [19]:
final

                                                     index                   \
tele_station_name.th        ที่ทำการอุทยานแห่งชาติน้ำตกโยง ทุ่งสง น้ำตกปลิว
date             x1   x2
2021-07-08 15:00 20.5 51.19                            NaN    NaN       NaN
2021-07-08 16:00 0.5  51.19                            NaN    NaN       NaN
                 13.6 51.19                            NaN    NaN       NaN
                 17.4 51.19                            NaN    NaN       NaN
                 18.5 51.20                            NaN    NaN       NaN
...                                                    ...    ...       ...
2021-07-09 13:00 61.2 51.12                            NaN    NaN       NaN
2021-07-09 14:00 10.6 51.11                            NaN    NaN       NaN
                 14.8 51.11                            NaN    NaN       NaN
                 15   51.11                            NaN  260.0       NaN
                 57.8 51.11                            NaN    NaN       NaN

                                                                    \
tele_station_name.th        บ้านหน้าเขา บ้านหินราว บ้านไสใหญ่เหนือ
date             x1   x2
2021-07-08 15:00 20.5 51.19         6.0        NaN             NaN
2021-07-08 16:00 0.5  51.19        11.0        NaN             NaN
                 13.6 51.19         NaN        NaN             NaN
                 17.4 51.19         NaN        NaN             NaN
                 18.5 51.20         NaN        7.0             NaN
...                                 ...        ...             ...
2021-07-09 13:00 61.2 51.12         NaN        NaN             NaN
2021-07-09 14:00 10.6 51.11         NaN        NaN             NaN
                 14.8 51.11         NaN        NaN             NaN
                 15   51.11         NaN        NaN             NaN
                 57.8 51.11         NaN        NaN             NaN

                                                                  \
tele_station_name.th        ฝายคลองท่าเลา ฝายคลองเปิก รร.บ้านพูน
date             x1   x2
2021-07-08 15:00 20.5 51.19           NaN         NaN        NaN
2021-07-08 16:00 0.5  51.19           NaN         NaN        NaN
                 13.6 51.19           NaN         NaN        9.0
                 17.4 51.19           NaN         NaN        NaN
                 18.5 51.20           NaN         NaN        NaN
...                                   ...         ...        ...
2021-07-09 13:00 61.2 51.12           NaN         NaN        NaN
2021-07-09 14:00 10.6 51.11           NaN         NaN      262.0
                 14.8 51.11           NaN         NaN        NaN
                 15   51.11           NaN         NaN        NaN
                 57.8 51.11           NaN         NaN        NaN

                                                                            \
tele_station_name.th        หน่วยพิทักษ์อุทยานแห่งชาติที่ ขป.๔ (บ้านน้ำตก)
date             x1   x2
2021-07-08 15:00 20.5 51.19                                            NaN
2021-07-08 16:00 0.5  51.19                                            NaN
                 13.6 51.19                                            NaN
                 17.4 51.19                                            8.0
                 18.5 51.20                                            NaN
...                                                                    ...
2021-07-09 13:00 61.2 51.12                                          247.0
2021-07-09 14:00 10.6 51.11                                            NaN
                 14.8 51.11                                            NaN
                 15   51.11                                            NaN
                 57.8 51.11                                          259.0

                             ...      y                                   \
tele_station_name.th         ... ทุ่งสง น้ำตกปลิว บ้านหน้าเขา บ้านหินราว
date             x1   x2     ...
2021-07-08 15:00 20.5 51.19  ...    NaN       NaN        48.0        NaN
2021-07-08 16:00 0.5  51.19  ...    NaN       NaN        39.0        NaN
                 13.6 51.19  ...    NaN       NaN         NaN        NaN
                 17.4 51.19  ...    NaN       NaN         NaN        NaN
                 18.5 51.20  ...    NaN       NaN         NaN       80.0
...                          ...    ...       ...         ...        ...
2021-07-09 13:00 61.2 51.12  ...    NaN       NaN         NaN        NaN
2021-07-09 14:00 10.6 51.11  ...    NaN       NaN         NaN        NaN
                 14.8 51.11  ...    NaN       NaN         NaN        NaN
                 15   51.11  ...   26.0       NaN         NaN        NaN
                 57.8 51.11  ...    NaN       NaN         NaN        NaN

                                                                       \
tele_station_name.th        บ้านไสใหญ่เหนือ ฝายคลองท่าเลา ฝายคลองเปิก
date             x1   x2
2021-07-08 15:00 20.5 51.19             NaN           NaN         NaN
2021-07-08 16:00 0.5  51.19             NaN           NaN         NaN
                 13.6 51.19             NaN           NaN         NaN
                 17.4 51.19             NaN           NaN         NaN
                 18.5 51.20             NaN           NaN         NaN
...                                     ...           ...         ...
2021-07-09 13:00 61.2 51.12             NaN           NaN         NaN
2021-07-09 14:00 10.6 51.11             NaN           NaN         NaN
                 14.8 51.11             NaN           NaN         NaN
                 15   51.11             NaN           NaN         NaN
                 57.8 51.11             NaN           NaN         NaN

                                        \
tele_station_name.th        รร.บ้านพูน
date             x1   x2
2021-07-08 15:00 20.5 51.19        NaN
2021-07-08 16:00 0.5  51.19        NaN
                 13.6 51.19       63.0
                 17.4 51.19        NaN
                 18.5 51.20        NaN
...                                ...
2021-07-09 13:00 61.2 51.12        NaN
2021-07-09 14:00 10.6 51.11       73.0
                 14.8 51.11        NaN
                 15   51.11        NaN
                 57.8 51.11        NaN

                                                                            \
tele_station_name.th        หน่วยพิทักษ์อุทยานแห่งชาติที่ ขป.๔ (บ้านน้ำตก)
date             x1   x2
2021-07-08 15:00 20.5 51.19                                            NaN
2021-07-08 16:00 0.5  51.19                                            NaN
                 13.6 51.19                                            NaN
                 17.4 51.19                                           76.0
                 18.5 51.20                                            NaN
...                                                                    ...
2021-07-09 13:00 61.2 51.12                                           11.0
2021-07-09 14:00 10.6 51.11                                            NaN
                 14.8 51.11                                            NaN
                 15   51.11                                            NaN
                 57.8 51.11                                           58.0


tele_station_name.th        ไร่ วงศ์ ทอง เมฆ ดี
date             x1   x2
2021-07-08 15:00 20.5 51.19                 NaN
2021-07-08 16:00 0.5  51.19                 NaN
                 13.6 51.19                 NaN
                 17.4 51.19                 NaN
                 18.5 51.20                 NaN
...                                         ...
2021-07-09 13:00 61.2 51.12                 NaN
2021-07-09 14:00 10.6 51.11                 NaN
                 14.8 51.11                30.0
                 15   51.11                 NaN
                 57.8 51.11                 NaN

[256 rows x 22 columns]

In [ ]:
table.columns